body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Roboto, sans-serif;
}

.App {
  min-height: 100vh;

  background-image: url(./assets/background.jpg);
  background-size: cover;
}

table {
  margin: 0 auto;
}

table,
th,
td,
tr {
  border: 0.2px solid #ccc;
  border-collapse: collapse;
  background-color: #37003c;

  color: #fff;
  text-align: center;

  padding: 8px 10px;
}

table tr td:first-child {
  font-weight: bold;
}

table tr:nth-child(-n + 5) td {
  background-color: #00ea73;
}

table tr:nth-child(6) td {
  background-color: #1e67e1;
}

table tr:nth-child(n + 19) td {
  background-color: #ff6f6f;
}

td div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

td div img {
  width: 20px;
  margin-right: 8px;
}
